#root {
  text-align: center;
}

.cta-button {
  font-size: 0.75rem;
  font-weight: bold;
  border: 0;
  border-radius: 0.5em;
  padding: 1em;
  text-transform: capitalize;
  background-color: var(--bg-color-grey);
  color: var(--text-color-grey-secondary);
  transition: background-color 0.2s ease-out;
}

@media (min-width: 50em) {
  .cta-button {
    height: 4.17em;
    margin-top: 2.5em;
  }
}

form:valid > .cta-button {
  background-color: var(--main-color-blue);
  color: var(--text-color-white);
  cursor: pointer;
}
form:valid > .cta-button:hover {
  background-color: #115293;
}
